<template name="home">
{{> navbar }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          
        </ul>
        <ul class="nav nav-sidebar">
          
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        <div class="row">
        
          <div style="border-right: 1px solid #EEE; height:100vh" class="col-md-6" id="tmp1">
            <h3>
              Your search address: <br>
              {{ getAddress }}
            </h3>
            <span class="mid" id="del1"><i class="fa mid fa-spinner fa-pulse text-center fa-4x"></i></span>
          </div>  
          <div class="col-md-6" id="tmp2">
            <h3>Your local address: <br>
              {{ bestAddress }}
            </h3>
            <span class="mid" id="del2"><i class="fa mid fa-spinner fa-pulse text-center fa-4x"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
