<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Team 8 - Best Homes</title>
  <!-- Custom styles for this template -->
   <link href="/css/dashboard.css" rel="stylesheet">
   <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
</head>
