<template name="search">
  <div class="container-fluid">
    <section class="search-launcher">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">Best Home to Live In</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form class="search-form">
            <div class="col-sm-6 col-md-4 col-lg-4 col-md-offset-3">
              <!-- <div class="input-group"> -->
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" aria-describedby="address">
            <!-- </div> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <!-- <div class="input-group search-form"> -->
                <label for="btn-search">Search</label>
                <input type="submit" class="form-control" id="btn-search">
              <!-- </div> -->
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>